h1,h2,h3	
	{
		font-family: Arial, Helvetica, sans-serif;
		color:#f7f7f7;
	}

h4,h5,h6
	{
		font-family: Arial, Helvetica, sans-serif;
		color:#e5e5e5;
	}
body 
	{
		font-family: "Times New Roman", Times, serif;
		background-color: #282828;
	}

p
	{
		font-family: "Times New Roman", Times, serif;
		color: #efefef;
		text-indent: 40px;
		text-size: 12px;
	}	

ol,ul
	{
		font-family: "Times New Roman", Times, serif;
		background-color: #282828;
		color: #efefef;
		text-size: 12px;
	}	
