h1 	
	{
		color:#f7f7f7;
	}

h2 	
	{
		color:#f7f7f7;
	}

h3 	
	{
		color:#f7f7f7;
	}

h4
	{
	    color:#e5e5e5;
	}

h5 
	{
	    color:#e5e5e5;
	}

h6 
	{
	    color:#e5e5e5;
	}

body 
	{
		background-color:#282828;
	}

p 
	{
		color:#efefef;
	}	
